/* You can add global styles to this file, and also import other style files */
@import "src/assets/colors";

* {
  font-family: 'Readex Pro', sans-serif;
}

html {
 position: absolute;
}

html, body {
  padding: 0;
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

button {
  border: 1px solid $color-charcoal;
  border-radius: 3px;
  background-color: $color-yellow;
  color: $color-charcoal;
  font-size: 20px;
  padding: 6px 12px;
  cursor: pointer;

  &:hover {
    background-color: $color-orange;
    transition: 300ms;
  }
}

input {
  border: 1px solid $color-charcoal;
  border-radius: 3px;
  background-color: $color-yellow;
  color: $color-charcoal;
  font-size: 20px;
  padding: 6px 12px;

  &:focus {
    background-color: $color-orange;
    transition: 300ms;
  }
}
